<my-spinner [visible]="isLoading"></my-spinner>
<div span="5">
  <h4>List of invoices</h4>
   <ul class="list-group invoices">
   <li *ngFor="let invoice of invoices" class="list-group-item" 
   [class.active]="currentInvoice == invoice"
   (click)="select(invoice)">
    <my-invoice [invoice]="invoice"></my-invoice> 
   </li>
   </ul>
 </div>
<div>
 <my-invoice-form (invoiceAddedEvent)="addInvoice($event)"></my-invoice-form>
</div>